.home {
  width: 12rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  font-size: 0;
  padding: .3rem 0;
}
.home .home-left {
  width: 8rem;
  margin-right: .2rem;
}
.home .home-left > img {
  width: 100%;
  border-radius: .1rem;
  margin-bottom: .3rem;
}
.home .home-right {
  width: 3.8rem;
  background-color: green;
}
