.listItem {
  padding: .2rem 0;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
}
.listItem:first-of-type {
  border-top: 1px solid #dcdcdc;
}
.listItem img {
  display: block;
  float: right;
  width: 2rem;
}
.listItem .listInfo {
  float: left;
  width: 6rem;
  padding: 0 .1rem;
  color: #666;
}
.listItem .listInfo h3 {
  font-size: .23rem;
  font-weight: 600;
  margin: .1rem 0;
}
.listItem .listInfo p {
  font-size: .14rem;
}
